@model IEnumerable<SaludVida.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.documentType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.names)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.surnames)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.height)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.birthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.photo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.documentType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.names)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.surnames)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.height)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.birthDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.documentNumber }) |
            @Html.ActionLink("Details", "Details", new { id=item.documentNumber }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.documentNumber })
        </td>
    </tr>
}

</table>
